*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: black;
color: aliceblue;
}
.button{
    padding: 20px;
    margin: 5px ;
    border: 2px solid black;
    border-radius: 10px;
}

.container{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 600px; */
    /* background-color: yellow; */
    width: 100%;
}
.row{
    width: 25%;
    background-color: rgb(16, 66, 109);
    padding-left: 25px;
}
.row input{
    padding: 10px 0px;
    margin: 10px ;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
}
.col{
    display: flex;
    /* width: 23%; */
    justify-content: center;
     align-items: center; 
}
.button0{
    padding: 20px 53px;
}
.math{
    background-color: chocolate;
}
.num{
    background-color: grey;
}
.ext{
    background-color: cadetblue;
}